.job .ant-card-body{
    padding: 0;
}

.job__btn {
    margin: 5px;
}

.job__loading {
    margin-left: 20px;
}

.job__title {
    margin-right: 20px;
}

.job__countdowm {
    margin-right: 20px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.job__countdowm__num {
    font-size: 1.5em;
    margin-right: 5px;
    color: rgba(181, 44, 44, 1)
}
.job__table__column .ant-input{
    width: 40px;
    margin-right: 5px;
}
.job__table__column span{
    margin-right: 10px;
}
.job__settings{
    margin-right: 10px;
}
.job_apiurl{
    display: flex;
    align-items: center;
}
.job_apiurl .ant-input{
    width: 100px;
    margin: 0 10px;
}
.ant-list-item-meta{
    align-items: center;
}